.name {
	font-size: 100px;
	margin-left: 350px;
	text-align: center;
}
.profileForm {
	display: flex; /* делает контейнер элементом flex */
	justify-content: center; /* выравнивает контент по горизонтали в центре */
	align-items: center; /* выравнивает контент по вертикали в центре */
	height: 0vh;
}