html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	background: linear-gradient(102deg, #bfbfbf 17.38%, #ffffff 81.25%);
}

* {
	box-sizing: border-box;
}

.inputAuthor {
	width: 0px;
	height: 0px;
	display: none;
}