@using ToDoList.Domain.Entity;
@model UserEntity

<link rel="stylesheet" href="~/css/Account/LoginForm.css" />
<link rel="stylesheet" href="~/css/StandartStyle.css" />
<link rel="stylesheet" href="~/css/Account/ProfileForm.css" />

@if(!Model.IsProfileCreated)
{
    <form id="createProfileForm" class="form">
        <div class="title">Welcome,<br><span>sign up to continue</span></div>
        <input class="inputAuthor" type="email" value="@User.Identity.Name" placeholder="Name" name="Name" class="input">
        <button id="createProfile" class="button-confirm">Let`s go →</button>
    </form>
}
else
{
    <form asp-controller="Account" asp-action="Logout">
        <button href="https://localhost:44333/Account/Login" class="Btn">

            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

            <div class="text">Logout</div>
        </button>
    </form>
    <div class="profileForm">
        <label class="name">@Model.Name</label>
    </div>
}
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#createProfile').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateProfile", "Profile")',
                data: $('#createProfileForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            })
        });
    </script>
}