.input {
	--input-focus: #2d8cf0;
	--font-color: #323232;
	--font-color-sub: #666;
	--bg-color: #fff;
	--main-color: #323232;
	width: 550px;
	height: 40px;
	display: flex;
	border-radius: 5px;
	border: 2px solid var(--main-color);
	background-color: var(--bg-color);
	box-shadow: 4px 4px var(--main-color);
	font-size: 15px;
	font-weight: 600;
	color: var(--font-color);
	padding: 5px 10px;
	margin-block: 9px;
	outline: none;
}

	.input::placeholder {
		color: var(--font-color-sub);
		opacity: 0.8;
	}

	.input:focus {
		border: 2px solid var(--input-focus);
	}

.endButton {
	padding: 15px 25px;
	border: unset;
	border-radius: 15px;
	color: #212121;
	z-index: 1;
	background: #e8e8e8;
	position: relative;
	font-weight: 900;
	align-content: center;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms;
	overflow: hidden;
}

	.endButton::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		border-radius: 15px;
		background-color: #212121;
		z-index: -1;
		-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
		box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
		transition: all 250ms
	}

	.endButton:hover {
		color: #e8e8e8;
	}

		.endButton:hover::before {
			width: 100%;
		}

.checkbox-wrapper-12 {
	position: relative;
}

	.checkbox-wrapper-12 > svg {
		position: absolute;
		top: -130%;
		left: -170%;
		width: 110px;
		pointer-events: none;
	}

	.checkbox-wrapper-12 * {
		box-sizing: border-box;
	}

	.checkbox-wrapper-12 input[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		margin: 0;
	}

		.checkbox-wrapper-12 input[type="checkbox"]:focus {
			outline: 0;
		}

	.checkbox-wrapper-12 .cbx {
		width: 24px;
		height: 24px;
		top: calc(100px - 12px);
		left: calc(100px - 12px);
	}

		.checkbox-wrapper-12 .cbx input {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			border: 2px solid #bfbfc0;
			border-radius: 50%;
		}

		.checkbox-wrapper-12 .cbx label {
			width: 24px;
			height: 24px;
			background: none;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			transform: trasnlate3d(0, 0, 0);
			pointer-events: none;
		}

		.checkbox-wrapper-12 .cbx svg {
			position: absolute;
			top: 5px;
			left: 4px;
			z-index: 1;
			pointer-events: none;
		}

			.checkbox-wrapper-12 .cbx svg path {
				stroke: #fff;
				stroke-width: 3;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 19;
				stroke-dashoffset: 19;
				transition: stroke-dashoffset 0.3s ease;
				transition-delay: 0.2s;
			}

		.checkbox-wrapper-12 .cbx input:checked + label {
			animation: splash-12 0.6s ease forwards;
		}

			.checkbox-wrapper-12 .cbx input:checked + label + svg path {
				stroke-dashoffset: 0;
			}

@-moz-keyframes splash-12 {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}

	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}

@-webkit-keyframes splash-12 {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}

	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}

@-o-keyframes splash-12 {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}

	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}

@keyframes splash-12 {
	40% {
		background: #866efb;
		box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb, 16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb, -16px -8px 0 -8px #866efb;
	}

	100% {
		background: #866efb;
		box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
	}
}

.deleteButtonForm {
	margin-bottom: 20px;
}

.delete-button {
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: rgb(20, 20, 20);
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: relative;
}

.delete-svgIcon {
	width: 15px;
	transition-duration: 0.3s;
}

	.delete-svgIcon path {
		fill: white;
	}

.delete-button:hover {
	width: 90px;
	border-radius: 50px;
	transition-duration: 0.3s;
	background-color: rgb(255, 69, 69);
	align-items: center;
}

	.delete-button:hover .delete-svgIcon {
		width: 20px;
		transition-duration: 0.3s;
		transform: translateY(60%);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}

.delete-button::before {
	display: none;
	content: "Delete";
	color: white;
	transition-duration: 0.3s;
	font-size: 2px;
}

.delete-button:hover::before {
	display: block;
	padding-right: 10px;
	font-size: 13px;
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 0.3s;
}

.addButton {
	position: relative;
	width: 170px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #838383;
	background-color: #838383;
}

.addButton, .button__icon, .button__text {
	transition: all 0.3s;
}

	.addButton .button__text {
		transform: translateX(30px);
		color: #fff;
		font-weight: 600;
	}

	.addButton .button__icon {
		position: absolute;
		transform: translateX(124px);
		height: 100%;
		width: 39px;
		background-color: #747474;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.addButton .svg {
		width: 30px;
		stroke: #fff;
	}

	.addButton:hover {
		background: #747474;
	}

		.addButton:hover .button__text {
			color: transparent;
		}

		.addButton:hover .button__icon {
			width: 162px;
			transform: translateX(0);
		}

	.addButton:active .button__icon {
		background-color: #2e8644;
	}

	.addButton:active {
		border: 1px solid #2e8644;
	}

.form {
	background-color: #fff;
	display: block;
	padding: 1rem;
	max-width: 350px;
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	font-size: 19px;
	font-weight: 700;
	text-align: center;
	color: #000;
}

.form-text {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #000;
}

.input-container {
	position: relative;
}

	.input-container input, .form button {
		outline: none;
		border: 1px solid #e5e7eb;
		margin: 8px 0;
	}

	.input-container input {
		background-color: #fff;
		padding: 1rem;
		padding-right: 3rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		width: 500px;
		border-radius: 0.5rem;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	}

.submit {
	display: block;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	background-color: #4F46E5;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	width: 100%;
	border-radius: 0.5rem;
	text-transform: uppercase;
}

.signup-link {
	color: #6B7280;
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-align: center;
}

	.signup-link a {
		text-decoration: underline;
	}

.endTaskForm {
	display: flex;
	margin-block: 10px;
}

.taskForm {
	--input-focus: #2d8cf0;
	--font-color: #323232;
	--font-color-sub: #666;
	--bg-color: #fff;
	--main-color: #323232;
	padding: 40px;
	display: flex;
	width: 300px;
	margin-left: 20px;
	background: lightgrey;
	flex-direction: column;
	align-items: flex-start;
	justify-content: end;
	gap: 2px;
	margin-bottom: 1rem;
	border-radius: 5px;
	border: 2px solid var(--main-color);
	box-shadow: 4px 4px var(--main-color);
}

.header {
	display: flex;
	width: 1300px;
}

.toolButtons {
	align-content: end;
	align-items: end;
	justify-content: end;
	margin-left: 20px;
}
.createdTasks {
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
}

.Priority {
	margin-top: 5px;
	margin-left: 3px;
}

.headerTitle {
	margin-left: 200px;
	font-weight: 800;
}